<div class="page-header" style="background-color: #30558A; color: #FFFF">
 <h1 align="center">Parques</h1>     
  <p align="center">Pagina web para controlar las luces de la maqueta, a traves de la placa esp8266.</p>
</div>

<div class="container">
  <div align="center">
  <button class="btn-success" onclick="encerder_todas()">Encerder todas</button>

  <button class="btn-danger" onclick="apagar_todas()">Apagar todas</button>
  
  </div><br>
<div class="row">
  
  <div class="col-sm-3">Luces Perimetrales</div>
  <div class="switch6 col-sm-3" style="border:1px solid #999999;">
    <label class="switch6-light" onchange="perimetral()">
      <input class="form-check-input" type="checkbox" value="" id="perim">
      <span>
        <span>Off</span>
        <span>On</span>
      </span>
      <a class="btn btn-primary"></a>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">Luces Internas</div>
  <div class="switch6 col-sm-3" style="border:1px solid #999999;">
    <label class="switch6-light" onclick="internas()">
      <input class="form-check-input" type="checkbox" value="" id="inter">
      <span>
        <span>Off</span>
        <span>On</span>
      </span>
      <a class="btn btn-primary"></a>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">Parques</div>
  <div class="switch6 col-sm-3" style="border:1px solid #999999;">
    <label class="switch6-light" onclick="parques()">
      <input class="form-check-input" type="checkbox" value="" id="park">
      <span>
        <span>Off</span>
        <span>On</span>
      </span>
      <a class="btn btn-primary"></a>
    </label>
  </div>
</div><br>
<div class="row">
  <div class="col-sm-6">Colores</div>
  <div class="col-sm-3">
  <input type="text" class="form-control" id="color" onchange="showcolor()" />
  <div id="colores"></div><br>
</div>
</div>

<footer class="page-footer" style="background-color: #30558A; color: #FFFF">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018:
    Analisis de sistemas 3er. año.
  </div>
  <!-- Copyright -->

</footer>